<!DOCTYPE html>
<html>
  <head>
    <title>RailsSqlPractice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>

  <body>
    <div class="container">
      <h4>SQL Query Examples</h4>
      <br />
      <div class="">
        <label>Browser Select</label>
        <select class="browser-default">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Count authors</option>
          <option value="2">Count books</option>
          <option value="3">Books by topic</option>
          <option value="1">Books by topic with summary</option>
          <option value="1">Explain</option>
        </select>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>

